#### Q1
A student's grades for Math II course are given below in two lists:
    - `grades` is the student's test scores, and
    - `opinion` is the instructor's optional grades for the student.

In [2]:
grades = [55, 10, 24]
opinion = [60]

- What is the average of grades? (use `sum()` and `len()` functions)

In [5]:
average = sum(grades) / len(grades)
average

29.666666666666668

- What is the average of grades + opinion

In [8]:
average + opinion[0]

89.66666666666667

- What is the minimum score the student has to get to pass Math II?
(Average of grades + opinion must be at least 45)

In [9]:
bool(average + opinion[0] > 45)

True

#### Q2

Given below are grades all the students got from Math II final:

In [11]:
all_scores = [10,  # ACD
              24,  # Akcu
              5,   # Me
              48, 23, 56, 44, 23, 80, 45, 36, 28, 14, 11,
              66, 53, 12, 6, 70, 24, 32]

- What is the minimum score in this classroom?

In [12]:
min(all_scores)

5

- What is the maximum score in this classroom?

In [13]:
max(all_scores)

80

- Sort the grades in ascending order.

(Hint: Look for a useful method using `dir(all_scores)` or use `sorted()` function.)

In [19]:
print(sorted(all_scores))

[5, 6, 10, 11, 12, 14, 23, 23, 24, 24, 28, 32, 36, 44, 45, 48, 53, 56, 66, 70, 80]

- What is the average score?

In [21]:
average_score = sum(all_scores) / len(all_scores)
average_score

33.80952380952381

- Select top 5 scores from the list. (Hint: Use slicing, i.e. `all_scores[-2:]` yields top 2 scores, **if the list is sorted**)

In [22]:
all_scores.sort()
all_scores[-5:]

[53, 56, 66, 70, 80]

- Select the lowest 5 scores from the list.

In [23]:
all_scores[:5]

[5, 6, 10, 11, 12]

- What is the median score for this test?
(Hint: a quick reminder; [median](https://www.mathsisfun.com/median.html))

In [27]:
median_score = all_scores[int(len(all_scores)/2)]
median_score

28

- Remove the highest score and recalculate the median.

In [28]:
all_scores.pop()

80

In [31]:
median_score2 = (all_scores[int(len(all_scores)/2) - 1] + all_scores[int(len(all_scores)/2)]) / 2
median_score2

26.0

- How many students got `24` from this test?

In [32]:
all_scores.count(24)

2

##### Bonus Question:
- How many students got less than `24` from this test?  
(Hint: Use built-in `filter()` function to avoid for loops or list comprehensions for now. This will probably the first and the last time you use `filter` function)

In [37]:
# Define a condition function that returns True or False:
condition = lambda score: score < 24

# The statement below returns a filter object.
# Create a list from the filter object using list():
filter(condition, all_scores)

# Use len() function on the list

In [41]:
under24 = filter(condition,all_scores)
list(under24)

[5, 6, 10, 11, 12, 14, 23, 23]

#### Q3 : Call by Reference

- Create a variable as a list, i.e `a = [1, 2, 3, 4]`.
- Create another variable as same as `a` using `b = a`.

- Append an arbitrary integer to list `a`.
- Print both variables `a` and `b`.

Note that `b` is a reference to variable `a` and not a new variable. Hence, both variables changed.  
The same applies to `set`, `dict` and many other collections, as well.

- Find a way to create list `b` as a new variable. (Hint: Look for a useful method within `dir(a)` to copy variable.)