# Strings and String Operations

String data type is very similar to lists in terms of behavior (indexing, slicing, concatenation, etc.)  
String variables can be single or multiple characters.

- Define two string variables, `a = 'abc'` and `b = 'd'`.

In [6]:
print("adam", "adam")

adam adam

In [7]:
print("adam \nadam") # \n alt satıra geçmek için kullanıyoruz

adam
adam

In [2]:
print("adam\tadam") # \t 4 boşluk bırakmak(tab) için kullanıyoruz

adam	adam

String literals are surrounded by either single or double quotation marks.
- Run the example below:

In [5]:
print("Hello World")
print('Hello World')
print('''Hello World''')
print("""Hello World""")

Hello World
Hello World
Hello World
Hello World

Multiline strings can be defined using **three** quotation marks.
- Run the example cell below:

In [14]:
# çift tırnak ile print
print("ben istanbul'a geldim")

ben istanbul'a geldim

In [1]:
# tek tırnak örneği
print('Ahmet "baş ve sondakini çift tırnak yap" dedi')

Ahmet "baş ve sondakini çift tırnak yap" dedi

In [2]:
print("Ahmet 'baş ve sondakini çift tırnak yap' dedi")

Ahmet 'baş ve sondakini çift tırnak yap' dedi

In [3]:
print('Ahmet "baş ve sondakini İstanbul'da çift tırnak yap" dedi')

SyntaxError: invalid syntax (Temp/ipykernel_5108/1717365088.py, line 1)

In [4]:
print("""Ahmet "baş ve sondakini İstanbul'da çift tırnak yap" dedi""")

Ahmet "baş ve sondakini İstanbul'da çift tırnak yap" dedi

In [5]:
multi = """This is a
multiline string."""
print(multi)

This is a
multiline string.

In [6]:
"""This is a
multiline string."""

'This is a\nmultiline string.'

String variables can be concatenated using `+` operator.  
- Concatenate `a` and `b` variables to obtain `"abcd"` as `d` variable.

In [7]:
a="merhaba"
b=a.replace("e","a") # e'leri a olarak değiştir
b

'marhaba'

In [8]:
a="merhaba"
b=a.replace("a", "i", 1)
b

'merhiba'

Strings can be multiplied to create longer strings.
- Create a variable of all `"a"`'s, 27 characters long.

In [17]:
new= "a" * 27
new

'aaaaaaaaaaaaaaaaaaaaaaaaaaa'

Indexing can be used for string variables just as in lists.
- Select the first character of `d`.
- Select the last character of `d`.

In [9]:
c="alnfalnflsakdnd"
len(c)

15

In [10]:
c[0]

'a'

In [11]:
c[-1]

'd'

In [12]:
c[-15]

'a'

In [13]:
type(len(c)/2)

float

In [14]:
c[round(len(c)/2)]

'l'

In [15]:
c[int(len(c)/2)]

'f'

In [29]:
len(c)/2

7.5

In [30]:
int(7.99999)

7

- Select first three characters of `d`.

In [16]:
c[:3]

'aln'

In [17]:
c[3:]

'falnflsakdnd'

In [18]:
c[-3:]

'dnd'

In [85]:
c[3:10:2]

'nanl'

In [19]:
a = "engin atby"
a[::-1]

'ybta nigne'

In [35]:
a[::-3]

'bann'

In [31]:
a = "aaaaaaaaaaaaaaaaaaaaaaaa"
b = a.replace("a", "i",3)
b

'iiiaaaaaaaaaaaaaaaaaaaaa'

In [36]:
liste= [1,2,34,5,6,7,8,9]
liste[::-1]

[9, 8, 7, 6, 5, 34, 2, 1]

- Change the last character of `d` into `"e"` to obtain `"abce"`.

Membership tests can be performed on strings.
- Check if word `"Python"` occurrs in the following string:

In [37]:
paragraph = """Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string."""

# "Python" ? paragraph

In [38]:
len(paragraph)

290

In [39]:
"Yasin" in paragraph #???

False

In [40]:
"Like" in paragraph #???

True

In [41]:
paragraph[100]

'i'

- What is the length of the `paragraph`?

- Turn the string `"Python"` into all lowercase characters.
Hint:
```
p = "UPPER"
p.lower()
```

In [1]:
p = "Python"
p.lower()
# p.?()

'python'

In [2]:
p = "Python"
p.upper()
# p.?()

'PYTHON'

- Turn the string `"Python"` into all uppercase characters.

Characters or sequences in a string can be replaced using `str.replace(old, new)`.
- Replace "y" characters in p with "i".

In [7]:
p = "Python"
p.replace('y','i')

# p.?(?, ?)

'Pithon'

- Replace "on" sequence with "off".

In [8]:
p = "Python"
p.replace('on','off')

# p.?(?, ?)

'Pythoff'

Strings can be split to create a list by passing the delimiter character into `split()` method.
- Split the following data:

In [12]:
cities = 'Chesapeake,Guangzhou,Bengal,Rio'
population = '3325900,8675099,16004112,6000000'

# cities.split(?)
# population.split(?)
cities.split()

['Chesapeake,Guangzhou,Bengal,Rio']

In [13]:
spl=population.split()
d= [4,7,1,0,4,8]
sorted(spl)

['3325900,8675099,16004112,6000000']

In [14]:
e= ["f","e","y","a", "A", "E"]
sorted(e)

['A', 'E', 'a', 'e', 'f', 'y']

List or tuple elements can be joined together into a string.
- Join the following list with spaces in between.  
Sample input: `t = ["3","tunc","tas","kayisi","hosafi"]`  
`" ".join(t)`  
Sample output: `"3 tunc tas kayisi hosafi"

In [16]:
split_text = ["This","is","split","text."]
# joined_text = ?
" ".join(split_text)

'This is split text.'

If you want no characters in between list elements, just join on an empty string, i.e `"".join(your_list)`
- Join the following list:

In [17]:
p = ['P','y','t','h','o','n']
''.join(p)

# joined = ?

'Python'

Creating a list using a string splits each character.

```
s = "string"
list(s)
>>> ['s','t','r','i','n','g']
```
- Convert the string below into a list:

In [22]:
s = 'string'
list(s)

['s', 't', 'r', 'i', 'n', 'g']

In [25]:
p = "Python"
a=list(p)
b=a.reverse()
print(b)

None

In [26]:
p = "Python"
a=list(p)
a.reverse()
a

['n', 'o', 'h', 't', 'y', 'P']

String formatting is useful for automated texts.
- Observe the following snippet of code.

In [29]:
x="ben"
y="sen"
sayı=5
print(x, y, sayı)

ben sen 5

In [30]:
route = 45

print(f"Rota {route}, gemi rotada.")
print("Rota {} gemi rotada".format(route))
print("Rota %04d, gemi rotada." % route)
print("Rota %s, gemi rotada." % route)

Rota 45, gemi rotada.
Rota 45 gemi rotada
Rota 0045, gemi rotada.
Rota 45, gemi rotada.

In [39]:
dümen_acisi = 10
route = 45

print(f"sancak {dümen_acisi} Rota {route}, gemi rotada.")
print("sancak {}, Rota {} gemi rotada".format(route, dümen_acisi))
print("Rota %04d, gemi rotada." % route)
print("Rota %s, gemi rotada." % route)

sancak 10 Rota 45, gemi rotada.
sancak 45, Rota 10 gemi rotada
Rota 0045, gemi rotada.
Rota 45, gemi rotada.

In [29]:
kim = "biz"
print(f" {kim} geldim hüloooo")

 biz geldim hüloooo

**Bonus Question**

Reverse the word `Python` into `nothyP`.

- Alternative 1: Split the characters using `list`, use `reversed()` method and join back the string.

- Alternative 2: Use slicing.

In [113]:
a=list(range(20))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [116]:
a[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [122]:
a= ["ben", "sen", "biz"]
sorted(a)

['ben', 'biz', 'sen']